apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# commonLabels:
#   app.xgeeks.org/team: idp_geekathon
#   backstage.io/kubernetes-id: team-viriathus-vis

namespace: idpkathon-dev
# namespace: team-viriathus-vis-idp_geekathon-dev

resources:
- ../../base
- ingress.yaml

  # ATENTION name = image.name NOT name = spec.containers[0].name
images:
- name: ghcr.io/xgeeks-geekathon/team-viriathus-vis
  newTag: 2c07089
- name: ghcr.io/xgeeks-geekathon/team-viriathus-vis-datafeeder
  newTag: bc119dd
